html {
    box-sizing: border-box;
  }
*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    // &::-webkit-scrollbar{
    //   display: none;
    // }
 
   &::-webkit-scrollbar {
        width: 2px;
        border-radius: 3px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #666;
        border-radius: 3px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #0505053d;
        border-radius: 3px;
      }
}

body{
  overflow-x: hidden;
}

.background {
  height: 100%;
  width: 100%;
  background-image: url("../../../public/Images/bg.jpg");
  background-size: cover;
  background-position: center;
 
  

  @media only screen and (max-width:700px) {
    background-position: -150px 0px;
  }

  position: fixed;
  margin: 0px;
  font-family: "Genos", sans-serif;

  .bg-overlay {
    position: fixed;
    z-index: -11;
    width: 100vw;
    height: 100vh;
    // backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.142);

  }
}

.background::before,
.background::after {
  content: "";
  position: absolute;
  z-index: -12;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background::before {
  left: -1px;
  background-position: center;

  @media only screen and (max-width:700px) {
    background-position: -150px 0px;
  }
  animation: glitch-effect 2s infinite linear alternate-reverse;
  background-image: url("../../../public/Images/bg.jpg");
  // filter: grayscale(100%) sepia(100%) saturate(350%) hue-rotate(240deg) brightness(121%) contrast(121%);
}
.background::after {
  left: 1px;
  background-position: center;

  @media only screen and (max-width:700px) {
    background-position: -150px 0px;
  }
  animation: glitch-effect 3s infinite linear alternate-reverse;
  background-image: url("../../../public/Images/bg.jpg");
  // filter: grayscale(100%) sepia(100%) saturate(350%) hue-rotate(120deg) brightness(121%) contrast(121%);
}

$steps: 15;

@keyframes glitch-effect {
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(1500) + px, 100vw, random(1500) + px, 0);
    }
  }
}

.content {
  overflow: auto;
  height: 100%;
}