.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    background-color: $light-black;
    backdrop-filter: blur(3px);
}

.modal-container{
    @media screen and (max-width:900px) {
        display: none;
    }
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
    //  transform: translateY(-50%);
     max-width: 900px;
     margin: 1px auto;
     max-height: 500px;
     min-height: 300px;
     overflow-y: auto;
     z-index: 60;
     background-color:rgba(0 0 0 / 0.9);
     color: $white;
     backdrop-filter: blur(18px);
     border: 3px solid $red;
     border-radius: 10px;
     .close{
         position: absolute;
         top: 15px;
         right: 20px;
         svg{
             width: 25px;
             height: 25px;
             cursor: pointer;
             &:hover{
                 path{

                     fill: $white;
                    }
             }
         }
     }
     .modal-content{
         padding: 1.8rem;
        //  overflow-y: auto;
        //  overflow-x: hidden;
        min-width: 400px;
        .note_killer_modal{
            font-size: 1.25rem;
            
            li{
                list-style: none;
                margin-bottom: 20px;
            }
        }
         .evidence{
             .heading{
                 font-size: 2rem;
                 color: $red;
                 padding: 5px;
                 border-bottom: 1px solid $red;
                 font-weight: 600;
             }
             .info{
                 padding-top: 15px;

                 font-size: 1rem;
             }
             .evi{
                 @include flexCenter;
                 justify-content: space-evenly;
                 img{
                    height: 170px;
                    width: auto;
                     object-fit: contain;
                     margin:10px;
                     border: 2px solid $white;
                 }
             }
         }
         .profile{
             .header{
                 @include flexCenter;
                 flex-direction: column;
                 img{
                     width: 100px;
                     height: 100px;
                     border-radius: 50%;
                     border: 3px solid $white;
                 }
                 .title{
                     font-size: 1.5rem;
                     font-weight: 500;
                 }
             }
             .info{
                 padding-top: 15px;
                 font-size: 1rem;
             }
         }
         .leader{
             .heading{
                 font-size: 2.25rem;
                 font-weight: 600;
                 color: $white;
             }
             .team-logo{

                 img{
                     width: 50px;
                     height: 50px;
                     border-radius: 50%;
                     display: block;
                     margin: 1px auto;
                    //   border: 2px solid white;
                 }
             }
             li{
                 list-style: none;
                 font-size: 1.5rem;
                 text-align: center;color: $light-red;
             }
         }
         .rules-heading{
             font-size: 3rem;
             color: $red;
             font-weight: bold;
             letter-spacing: 2px;
             text-align: center;
         }
         .rules-list{
            //  font-size: 18px;
             .list-item{
                 margin-bottom: 10px;
                 font-size: 1rem;
                 font-family: 'Poppins';
             }
         }
     }
}

.modal-mob{
    @media screen and (min-width:900px) {
        display: none;
    }
    display: grid;
    grid-template-rows:auto;
    grid-gap: 0.5rem;
    place-content: baseline;
    padding: 20px;
    background-color: $dark-black;
    backdrop-filter: blur(15px);
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-y:auto ;
    .rules-heading{
        font-size: 2rem;
        color: $red;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
    }
    .rules-list{
       //  font-size: 18px;
        .list-item{
            margin-bottom: 10px;
            font-size: 14px;
            font-family: 'Poppins';
        }
    }
    .profile{
        .header{
            @include flexCenter;
            flex-direction: column;
            img{
                width: 80px;
                height: 80px;
                border: 3px solid $white;
                border-radius: 50%;
                margin-bottom: 5px;
            }
            .title{
                font-size: 18px;
                font-weight: 500;
            }
            margin-bottom: 10px;
        }
        .info{
            font-size: 14px;
            font-weight: 400;
        }
    }
    .evidence{
        .correct_ans{
            font-size: 1.2rem;
            color: $red;
            font-weight: bold;
        }
        .note_killer_modal{
            color: $white;
            font-size: 1rem;
        }
        .evi{
            @include flexCenter;
            @media screen and( max-width:600px) {
                flex-direction: column;
            }
            justify-content: space-evenly;
            img{
               height: 170px;
               width: auto;
                object-fit: contain;
                @media screen and( max-width:600px) {
                    height: 200px;
                    margin: 5px;
                }
            }
        }
        .note_killer_modal{
            font-size: 1.25rem;
            
            li{
                list-style: none;
                margin-bottom: 20px;
            }
        }
        .heading{
            color: $red;
            font-size: 18px;
            padding-bottom: 5px;
            border-bottom: 2px solid $red;
            margin: 10px 0;
        }
        .info{
            font-size: 14px;
            
        }
    }
    .leader{
        @include flexCenter;
        justify-content: flex-start;
        flex-direction: column;
        .team-logo{
            img{
                width: 100px;
                height: 100px;
            }
        }
       .heading{
           font-size: 2rem;
           color: $red;
           font-weight: 600;
       }
       .player{
           text-align: center;
           list-style: none;
           font-size: 1.2rem;
       }
    }
}