.game{
    background-color: $dark-black;
    padding: 20px;
    border: 3px solid $red;
    border-radius: 8px;
    .riddle{
        color: $white;
        text-align: center;
    font-style: italic;
    font-size: 1.25rem;
    }
    .ans{
        margin: 25px 0;
        @include flexCenter;
        @media screen and (max-width:900px) {
            flex-direction: column;
          
        }
    }
}


.fore-word{
    background-color: $dark-black;
    color: $white;
    padding:20px;
    @include flexCenter;
    width: 100%;
    border: 3px solid $red;
    border-radius: 8px;
}