@import 'timer';
@import 'rules';
@import 'game';
@import 'leaderboard';
.container{
    z-index: 20;
    margin: 2% auto;
    max-height: 60vh;
    // min-height: 500px;
    overflow-y: auto;
    @media screen and (min-width:601px) {
        position: relative;
        
    }
    font-family: 'Poppins', sans-serif;
    padding: 1rem 0;
    @media screen and (min-width:1200px) {
        max-width:1100px;
        padding:0 50px;
        ::-webkit-scrollbar{
            display: none;
        }
    }
    @media screen and (max-width:1100px) {
        max-width: calc(100vw - 10%);
        padding: 0 8px;
    }
}
.map-container{
      z-index: 20;
    margin: 2% auto;
    max-width: calc(100vw - 5%);
    border-radius: 8px;
    overflow: hidden;
    border: 3px solid $red;
}