.background {
  height: 100%;
  width: 100%;
  background-image: url("../../../public/Images/background.png");
  background-size: cover;
  background-position :left;
  position: fixed;
  margin: 0px;
}
