.info-text{
    color: $red;
    text-align: center;
    font-size: 3.5rem;
    // height: 100%;
    @include flexCenter;
    font-weight: 600;
    @media screen and(max-width:600px) {
        font-size: 1.2rem;
    }
}
.status-text{
    color: $light-red;
    text-align: center;
    font-size:0.8rem;
    margin-bottom: 20px;
    font-weight: bold;
}