$white : #fff;
$black : #000000;
$dark-black:rgba(0 0 0 / 0.73);
$hover-black:rgba(0 0 0 / 0.83);
$light-black:rgba(12 4 4 / 0.59);
$red: rgba(212 1 1 / 0.71);
$dark-red: rgba(212 1 1 / 0.91);
$light-red:#F10606;
$gray:rgba(196, 196, 196, 0.253);